.mnm-global-modifier,
.mnm-modifier {
    .RaiderCrusader(bold, smaller);
    .roundedcard();
    background-color: #a9a9a9c7;
    width:96%;
    border-width: 2px 2px 3px 3px;
    border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
    transform: rotate(-1deg);
    border-color: black;
}

.mnm-global-modifier:hover {
    transform: rotate(1deg);
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.mnm-modifier:hover {
    transform: rotate(1deg);
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.mnm-inEffect {
    background-color: #88cc88;
    width:96%;
    border-width: 2px 2px 3px 3px;
    border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
    transform: rotate(-1deg);
    border-color: black;
}