<table class="criticalstrikestable">
    <tr class="tableheaderrow">
        <td class="roll">Roll</td>
        <td class="resultdescription">Result</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="1-5"
        data-result="Just a cool breeze. +0 Damage." data-woundtitle="null" data-condition="null" data-hits1="0"
        data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="null">
        <td class="roll">1-5</td>
        <td class="resultdescription">Just a cool breeze. +0 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="06-20"
        data-result="Cold blast: +3 Damage. If the target is not wearing a cloak or heavy clothing: +6 Damage and Stunned."
        data-woundtitle="Cold Blast" data-condition="cloak or heavy clothing" data-hits1="0" data-bleed1="0"
        data-action1="0" data-effect1="null" data-hits2="6" data-bleed2="0" data-action2="0" data-effect2="stun">
        <td class="roll">06-20</td>
        <td class="resultdescription">Cold blast: +3 Damage. If the target is not wearing a cloak or heavy clothing: +6
            Damage and Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="21-35"
        data-result="Frostbite burn. +7 Damage, 1 Bleed." data-woundtitle="Frostbite Burn" data-condition="null"
        data-hits1="7" data-bleed1="1" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0"
        data-action2="0" data-effect2="null">
        <td class="roll">21-35</td>
        <td class="resultdescription">Frostbite burn. +7 Damage, 1 Bleed.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="36-50"
        data-result="Frost strike to the upper torso, +5 Damage. If the target is not wearing heavy clothes, also 2 Bleed and -10 to all actions."
        data-woundtitle="Torso Strike" data-condition="heavy clothing" data-hits1="5" data-bleed1="0" data-action1="0"
        data-effect1="null" data-hits2="5" data-bleed2="2" data-action2="10" data-effect2="null">
        <td class="roll">36-50</td>
        <td class="resultdescription">Frost strike to the upper torso, +5 Damage. If the target is not wearing heavy
            clothes, also 2 Bleed and -10 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="51-65"
        data-result="Back strike. +9 Damage, Stunned. Wood items carried on the back are now frozen and brittle, useless."
        data-woundtitle="Back Strike" data-condition="null" data-hits1="9" data-bleed1="0" data-action1="0"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">51-65</td>
        <td class="resultdescription">Back strike. +9 Damage, Stunned. Wood items carried on the back are now frozen and
            brittle, useless.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="66-79"
        data-result="Frostbite to the pelvis. If the target is wearing armor or heavy clothing: +3 Damage. Otherwise: frozen groin; +12 Damage, Stunned, and target is sterilised."
        data-woundtitle="Frozen Pelvis" data-condition="armor or heavy clothing" data-hits1="3" data-bleed1="0"
        data-action1="0" data-effect1="null" data-hits2="12" data-bleed2="0" data-action2="0"
        data-effect2="stun, crippled groin">
        <td class="roll">66-79</td>
        <td class="resultdescription">Frostbite to the pelvis. If the target is wearing armor or heavy clothing: +3
            Damage. Otherwise: frozen groin; +12 Damage, Stunned, and target is sterilised.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="80-89"
        data-result="Frost strike to the back. Target is thrown to the ground, disarmed. Stunned and +10 Damage."
        data-woundtitle="Back Strike" data-condition="null" data-hits1="10" data-bleed1="0" data-action1="0"
        data-effect1="stun, prone, drop weapon" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">80-89</td>
        <td class="resultdescription">Frost strike to the back. Target is thrown to the ground, disarmed. Stunned and
            +10 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table" data-roll="90-99"
        data-result="Blast to the hands (1d10: 1-4 left, 5-8 right, 9-10 both). If the target is wearing gloves: disarmed and +8 Damage. Otherwise: hand(s)frozen, loses 1d5 (or 1d10) fingers: -5 to all actions for each finger lost."
        data-woundtitle="Hands Blast" data-condition="gloves" data-hits1="8" data-bleed1="0" data-action1="0"
        data-effect1="drop weapon" data-hits2="0" data-bleed2="0" data-action2="25" data-effect2="crippled fingers">
        <td class="roll">90-99</td>
        <td class="resultdescription">Blast to the hands (1d10: 1-4 left, 5-8 right, 9-10 both). If the target is
            wearing gloves: disarmed and +8 Damage. Otherwise: hand(s)frozen, loses 1d5 (or 1d10) fingers: -5 to all
            actions for each finger lost.</td>
    </tr>
    <tr class="tablerow rollable max-superficial" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="100"
        data-result="Icy blast to the head. If the target is wearing furs or heavy head clothing: Stunned, +10 Damage. If not, target falls into a month-long coma and loses nose as a result of severe frostbite."
        data-woundtitle="Head Blast" data-condition="furs or heavy clothing" data-hits1="10" data-bleed1="0"
        data-action1="0" data-effect1="stun" data-hits2="10" data-bleed2="0" data-action2="0"
        data-effect2="unconscious[1 mon], crippled nose">
        <td class="roll">100</td>
        <td class="resultdescription">Icy blast to the head. If the target is wearing furs or heavy head clothing:
            Stunned, +10 Damage. If not, target falls into a month-long coma and loses nose as a result of severe
            frostbite.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="101-106"
        data-result="Leg blast +10 Damage, target is knocked Prone and Stunned. If no leg armor or heavy clothing: frostbite makes leg useless; -40 to all actions."
        data-woundtitle="Leg Blast" data-condition="leg armor or heavy clothing" data-hits1="10" data-bleed1="0"
        data-action1="0" data-effect1="stun, prone" data-hits2="10" data-bleed2="0" data-action2="40"
        data-effect2="crippled leg">
        <td class="roll">101-106</td>
        <td class="resultdescription">Leg blast +10 Damage, target is knocked Prone and Stunned. If no leg armor or
            heavy clothing: frostbite makes leg useless; -40 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="107-109"
        data-result="Blast to the side of the head. If the target is wearing heavy clothing or armor: Stunned, +8 Damage, -10 to all actions. Otherwise: ear frozen,+12 Damage, target is at a permanent -50 to hearing Perception and -20 all other Perception Rolls."
        data-woundtitle="Head Blast" data-condition="heavy clothing or armor" data-hits1="8" data-bleed1="0"
        data-action1="10" data-effect1="stun" data-hits2="12" data-bleed2="0" data-action2="10"
        data-effect2="stun, crippled ear">
        <td class="roll">107-109</td>
        <td class="resultdescription">Blast to the side of the head. If the target is wearing heavy clothing or armor:
            Stunned, +8 Damage, -10 to all actions. Otherwise: ear frozen,+12 Damage, target is at a permanent -50 to
            hearing Perception and -20 all other Perception Rolls.</td>
    </tr>
    <tr class="tablerow rollable max-light" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="110"
        data-result="Blast to the rear of the head and neck. If the target's neck is covered by heavy clothing: Stunned, +8 Damage and 2 Bleed. If not: target is in coma for 3 weeks and paralyzed from the neck down when waking up."
        data-woundtitle="Neck Blast" data-condition="heavy neck clothing" data-hits1="8" data-bleed1="2"
        data-action1="0" data-effect1="stun" data-hits2="8" data-bleed2="2" data-action2="0"
        data-effect2="unconscious[3 wk], crippled paralyzed">
        <td class="roll">110</td>
        <td class="resultdescription">Blast to the rear of the head and neck. If the target's neck is covered by heavy
            clothing: Stunned, +8 Damage and 2 Bleed. If not: target is in coma for 3 weeks and paralyzed from the neck
            down when waking up.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="111-116"
        data-result="Icy thigh strike. If the target is wearing heavy clothing: target is knocked Prone, Stunned, and takes 2 Bleed because of frost burn. If not:thigh frozen and a broken bone: +13 Damage and -40 to all actions."
        data-woundtitle="Thigh Strike" data-condition="heavy clothing" data-hits1="0" data-bleed1="2" data-action1="0"
        data-effect1="stun, prone" data-hits2="13" data-bleed2="2" data-action2="40" data-effect2="cripple leg">
        <td class="roll">111-116</td>
        <td class="resultdescription">Icy thigh strike. If the target is wearing heavy clothing: target is knocked
            Prone, Stunned, and takes 2 Bleed because of frost burn. If not:thigh frozen and a broken bone: +13 Damage
            and -40 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="117-119"
        data-result="Frostbite to the feet. If the target is wearing heavy boots: Stunned, +5 Damage and Prone; foot covering destroyed. Otherwise, frozen feet:+20 Damage, target is at -60 to all actions."
        data-woundtitle="Feet Frostbite" data-condition="heavy boots" data-hits1="5" data-bleed1="0" data-action1="0"
        data-effect1="stun, prone" data-hits2="20" data-bleed2="0" data-action2="60"
        data-effect2="stun, prone, crippled feet">
        <td class="roll">117-119</td>
        <td class="resultdescription">Frostbite to the feet. If the target is wearing heavy boots: Stunned, +5 Damage
            and Prone; foot covering destroyed. Otherwise, frozen feet:+20 Damage, target is at -60 to all actions.</td>
    </tr>
    <tr class="tablerow rollable max-moderate" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="120"
        data-result="Frozen blast to the face. If the target is wearing heavy headwear: Stunned, -20 to all actions, 2 Bleed, and +12 Damage. Otherwise: as above but also frozen eyes, target is blinded and falls into a coma."
        data-woundtitle="Face Blast" data-condition="heavy headwear" data-hits1="12" data-bleed1="2" data-action1="20"
        data-effect1="null" data-hits2="12" data-bleed2="2" data-action2="20"
        data-effect2="blind, crippled eyes, unconscious">
        <td class="roll">120</td>
        <td class="resultdescription">Frozen blast to the face. If the target is wearing heavy headwear: Stunned, -20 to
            all actions, 2 Bleed, and +12 Damage. Otherwise: as above but also frozen eyes, target is blinded and falls
            into a coma.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="121-126"
        data-result="Blast to the arm (1d10: 1-5 left, 6-10 right). If the target is wearing heavy clothes or armor: drops anything held, Stunned, +10 Damage,and 3 Bleed. If not: arm frozen and shattered, target falls unconscious, and arm useless (-50 to all actions)."
        data-woundtitle="Arm Blast" data-condition="heavy clothing or armor" data-hits1="10" data-bleed1="3"
        data-action1="0" data-effect1="stun, drop item" data-hits2="10" data-bleed2="3" data-action2="50"
        data-effect2="stun, drop item, crippled arm, unconscious">
        <td class="roll">121-126</td>
        <td class="resultdescription">Blast to the arm (1d10: 1-5 left, 6-10 right). If the target is wearing heavy
            clothes or armor: drops anything held, Stunned, +10 Damage,and 3 Bleed. If not: arm frozen and shattered,
            target falls unconscious, and arm useless (-50 to all actions).</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="127-129"
        data-result="Target inhales freezing fluid. +15 Damage and Stunned. Target makes a TSR against Attack Level 10, failing means death due to internal fluids freezing in 6 Rounds."
        data-woundtitle="Frozen Inhalation" data-condition="successful TSR:AL10" data-hits1="15" data-bleed1="0"
        data-action1="0" data-effect1="stun" data-hits2="15" data-bleed2="0" data-action2="0"
        data-effect2="stun, death[6]">
        <td class="roll">127-129</td>
        <td class="resultdescription">Target inhales freezing fluid. +15 Damage and Stunned. Target makes a TSR against
            Attack Level 10, failing means death due to internal fluids freezing in 6 Rounds.</td>
    </tr>
    <tr class="tablerow rollable max-grievous" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="130"
        data-result="Cold blast to the torso shatters chest and freezes lungs and heart. Target is dead in 3 Rounds."
        data-woundtitle="Torso Blast" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death[3], crippled chest, crippled lungs, crippled heart" data-hits2="0" data-bleed2="0"
        data-action2="0" data-effect2="null">
        <td class="roll">130</td>
        <td class="resultdescription">Cold blast to the torso shatters chest and freezes lungs and heart. Target is dead
            in 3 Rounds.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="131-136"
        data-result="Powerful icy blast to upper chest. If target is wearing armor/heavy clothing: knocked Prone, +10 Damage, and Stunned. If not: target dies in 10 rounds due to lungs and heart failure."
        data-woundtitle="Chest Blast" data-condition="heavy clothing or armor" data-hits1="10" data-bleed1="0"
        data-action1="0" data-effect1="stun, prone" data-hits2="10" data-bleed2="0" data-action2="0"
        data-effect2="stun, prone, death[10]">
        <td class="roll">131-136</td>
        <td class="resultdescription">Powerful icy blast to upper chest. If target is wearing armor/heavy clothing:
            knocked Prone, +10 Damage, and Stunned. If not: target dies in 10 rounds due to lungs and heart failure.
        </td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="137-140"
        data-result="Target engulfed in frost begins to feel really cold. If wearing heavy armor and clothing: +20 Damage, Stunned and -30 to all actions. If not, dies in 12 Rounds while shivering and breathing puffs of vapor."
        data-woundtitle="Engulfed in Frost" data-condition="heavy clothing or armor" data-hits1="20" data-bleed1="0"
        data-action1="30" data-effect1="stun" data-hits2="20" data-bleed2="0" data-action2="30"
        data-effect2="stun, death[12]">
        <td class="roll">137-140</td>
        <td class="resultdescription">Target engulfed in frost begins to feel really cold. If wearing heavy armor and
            clothing: +20 Damage, Stunned and -30 to all actions. If not, dies in 12 Rounds while shivering and
            breathing puffs of vapor.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="141-146"
        data-result="Strike freezes both legs. Target is Prone and Stunned, takes +30 Damage, -100 to all actions."
        data-woundtitle="Frozen Legs" data-condition="null" data-hits1="30" data-bleed1="0" data-action1="100"
        data-effect1="stun, prone, crippled legs" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">141-146</td>
        <td class="resultdescription">Strike freezes both legs. Target is Prone and Stunned, takes +30 Damage, -100 to
            all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="147-149" data-result="Target's head is frozen. Well preserved, but quite dead nonetheless."
        data-woundtitle="Frozen Head" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">147-149</td>
        <td class="resultdescription">Target's head is frozen. Well preserved, but quite dead nonetheless.</td>
    </tr>
    <tr class="tablerow rollable max-lethal" data-type="critical" data-table="7.15 Frost Critical Strikes Table"
        data-roll="150"
        data-result="Target is frozen solid into an ice statue, then falls to the ground and shatters into thousands of pieces."
        data-woundtitle="Freeze Solid" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">150</td>
        <td class="resultdescription">Target is frozen solid into an ice statue, then falls to the ground and shatters
            into thousands of pieces.</td>
    </tr>
</table>