{{debug "content-damage: " this}}
<div class="attack-content">
  <div class="attack-details bordered">
    <label class="detail-title">Source:</label><label class="detail-value">{{rolldata.name}}</label>
    <label class="detail-title">Roll:</label>
    <label class="detail-value">{{rolldata.roll}} - {{rolldata.damagetype}}</label>
  </div>
  <div class="modifiers bordered">
    <label class="detail-title">Mods:</label><label></label>
    {{#each modlist as |entry|}}
    <label class="detail-title">{{#if (isnum entry.modifier)}}{{numberFormat entry.modifier
      sign=true}}{{else}}{{entry.modifier}}{{/if}}:</label>
    <label class="detail-value">{{entry.description}}</label>
    {{/each}}
  </div>
  {{#if (eq rolldata.damagetype "Healing")}}
  <div class="attack-details bordered">
    <label class="detail-title">Healing:</label>
    <label class="detail-value damageresult" data-type="healing" data-hits="{{total}}"><span
        class="critsuccess"><b>{{total}}</b></span> </label>
  </div>
  {{else}}
  <div class="attack-details bordered">
    <label class="detail-title">Damage:</label>
    <label class="detail-value damageresult" data-type="damage" data-hits="{{total}}"><span
        class="critfail"><b>{{total}}</b></span> </label>
  </div>
  {{/if}}
</div>
